<h3>Cadastrar Aluno</h3>
<br>
<form action="/formAluno" method="post">
    <label for="CPF">CPF:</label>
    <input type="text" name="CPF" class="form-control" placeholder="Digite aqui o CPF do aluno">
    <br>
    <label for="Nome">Nome:</label>
    <input type="text" name="Nome" class="form-control" placeholder="Digite aqui o nome do aluno">
    <br>
    <label for="AV1">Nota AV1:</label>
    <input type="text" name="AV1" class="form-control" placeholder="Digite aqui a nota da AV1">
    <br>
    <label for="AV2">Nota AV2:</label>
    <input type="text" name="AV2"  class="form-control" placeholder="Digite aqui a nota da AV2">
    <br>
    <label for="AV3">Nota AV3:</label>
    <input type="text" name="AV3" class="form-control" placeholder="Digite aqui a nota da AV3">
    <br>
    <input type="submit">
</form>