<link rel="stylesheet" href="/public/css/home.css">
        
<h2>Conheça nossos produtos para o seu amiguinho</h2>
    <div class="cards-container">
        <div class="container" id="dogs-container">
            <div class="animalCard">
                <img src="/public/images/R (3).png" alt="" width="100px">
                <h3>Cachorros</h3>
            </div>   
            <div id="cards" class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src="assets/Racao_Para_Cachorro_Pedigree_PNG_Transparente_Sem_Fundo (1).png" alt="Card image">
                    <div class="card-body">                          
                        <p class="card-text">Pedigree Vital Adulto</p>
                        <h4 class="card-title">R$ 34,00/kg</h4>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src="assets/Racao_Para_Cachorro_Pedigree_PNG_Transparente_Sem_Fundo (2).png" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Pedigree Vital Essencial</p>
                        <h4 class="card-title">R$ 30,00/kg</h4>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

                <div class="card col-md-4">
                    <img class="card-img-top" src="assets/Sache_de_Racao_para_Cachorros_Pedigree_PNG_Transparente_Sem_Fundo.png" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Pedigree Vital Sache</p>
                        <h4 class="card-title">R$ 15,99/un</h4>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>                             
        </div>            
    </div>
</main>


